.navbar {
    height: 60px;
    border-bottom: 1px solid #ddd;
    padding: 4px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      height: 36px;
    }
}

.searchContainer {
    margin: 24px 0;
    display: flex;
    justify-content: center;
}